body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #ffdba9;
    color: #7e5c43;
}
#diagram {
    width: 100%;
    border: 1px solid #523a28;
    margin-top: 20px;
    background-color: #ffdba9;
    overflow: visible;
    min-height: 100px; /* Minimum height */
    padding: 10px; /* Added padding around the diagram */
}
.container {
    max-width: 900px;
    margin: 0 auto;
    overflow: visible;
}
textarea {
    width: 100%;
    height: 200px;
    font-family: monospace;
    background-color: #ede1d1;
    color: #7e5c43;
    border: 1px solid #523a28;
}
button {
    padding: 8px 16px;
    background-color: #523a28;
    color: #e4d2ba;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
button:hover {
    background-color: #7e5c43;
}

.flowchart path, .flowchart polygon {
    stroke: #523a28 !important;
    fill: #523a28 !important;
}
.flowchart rect {
    stroke: #523a28 !important;
    fill: #e4d2ba !important;
}
.flowchart text {
    fill: #7e5c43 !important;
}

#diagram svg {
    display: block;
}
